body {
    background-color: wheat;
    text-align: center;
    box-sizing: border-box;
}
table, td {transform: scaleY(-1);}

table {
  display: flex;
  justify-content: center;
}

.item {
  padding: 18px;
  font-weight: bold;
  border: 1px solid black;
  flex: 1; 
  width: 20px; 
}

.row-direction:nth-of-type(even) {
  display: flex;
  direction: rtl; 
}

.row-direction:nth-of-type(odd) {
  display: flex;
  direction: ltr;
}

button {
    background-color: thistle;
    font-size: 25px;
    margin: auto;
}